<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>


<!-- Put site-specific property overrides in this file. -->
<configuration>
    <property>
        <name>empi.locations.links.2.0</name>
        <value>empi_links_2_0</value>
    </property>
    <property>
        <name>empi.locations.persons.2.0</name>
        <value>empi_persons_2_0</value>
    </property>
    <property>
        <name>empi.locations.versions.2.0</name>
        <value>empi_versions_2_0</value>
    </property>
    <property>
        <name>empi.hdfs.store.2.0</name>
        <value>/empi/2_0/stores</value>
    </property>
    <property>
        <name>empi.persons.scanner.caching</name>
        <value>100</value>
    </property>
    <property>
        <name>healtheintent.servinfra.metastore.client.url</name>
        <value>https://services.healtheintent.net/metastore-service/</value>
    </property>
    <property>
        <name>healtheintent.services.metastore.client.url</name>
        <value>https://services.healtheintent.net/metastore-service/</value>
    </property>
    <property>
        <name>oauth.url</name>
        <value>https://api.cernercare.com/oauth/access</value>
    </property>
    <property>
        <name>oauth.key</name>
        <value>6caa7e10-abd9-4c7d-98a4-091fac84771c</value>
    </property>
    <property>
        <name>oauth.provider</name>
        <value>https://api.cernercare.com/oauth/access</value>
    </property>
    <property>
        <name>oauth.consumer.key</name>
        <value>6caa7e10-abd9-4c7d-98a4-091fac84771c</value>
    </property>
    <property>
        <name>synapse.processing.max.retry.attempts</name>
        <value>1</value>
    </property>
    <property>
        <name>programs.scorability.map.join.size.threshold</name>
        <value>262144000</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.outcomes.knowledge.session.resource.name</name>
        <value>ppo_knowledge_session_ganon</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.outcomes.knowledge.session.table.name.prefix</name>
        <value>knowledge_session</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.kite.write.enabled</name>
        <value>false</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.catalog.enabled</name>
        <value>false</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.catalog.ignore.failure</name>
        <value>true</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.catalog.template.name</name>
        <value>population</value>
    </property>
    <property>
        <name>hbase.client.retries.number</name>
        <value>3</value>
    </property>
    <property>
        <name>healtheintent.services.hadoop.ecosystem.url</name>
        <value>https://api.us.healtheintent.net/hadoop-ecosystem/v1</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.refrecord.legacy.only.extract.enabled</name>
        <value></value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.connectionTimeOut</name>
        <value>10000</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.readTimeOut</name>
        <value>30000</value>
    </property>
    <property>
        <name>metastore.exception.retries</name>
        <value>10</value>
    </property>
    <property>
        <name>healtheintent.services.hcc.suppression.client.url</name>
        <value>https://hcc-suppression.us.healtheintent.net</value>
    </property>
    <property>
        <name>refrecord.allow.cross.zone</name>
        <value>true</value>
    </property>
    <property>
        <name>oauth.secret</name>
        <value>WGbcbShk5cMRQ16JKDUlQepfywMC4m2R</value>
    </property>
    <property>
        <name>oauth.consumer.secret</name>
        <value>WGbcbShk5cMRQ16JKDUlQepfywMC4m2R</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.hbase.tables.outreachActivity</name>
        <value>outreach_activity_tracking</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.hbase.tables.manualClinicalData</name>
        <value>manual_clinical_data_1.0</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.metastore.resource.name.prefix</name>
        <value>hi_v1_ganon_dg073769_</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.metastore.resource.name.v2.prefix</name>
        <value>hi_v2_programprocessing_dg073769_</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.migration.changes.cluster.id</name>
        <value>link</value>
    </property>
    <property>
        <name>com.cerner.pophealth.programs.migration.base.cluster.id</name>
        <value>ganon-hdfs</value>
    </property>
    <property>
        <name>healtheintent.manual.change.export.resource.prefix</name>
        <value>hi_v1_ganon_dg073769_</value>
    </property>
    <property>
        <name>personnel.ministry.resource.prefix</name>
        <value>hi_v9_</value>
    </property>
</configuration>