<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out" />
    <param name="follow" value="true" />
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern"
        value="[%d{ISO8601}{America/Chicago}] [%-4p] [%t] [%c] - %m%n" />
    </layout>
  </appender>
  
  <logger name="com.cerner.pophealth" additivity="false">
    <level value="INFO" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="com.cerner.pophealth.program.runtime.ada.synapse.SynapseProcessor" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="com.mmmhis.gps" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="CONSOLE" />
  </logger>

  <root>
    <level value="INFO" />
    <appender-ref ref="CONSOLE" />
  </root>
</log4j:configuration>
